.products-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-carousel__slides {
    min-height: 420px;   
    display: flex;
    align-items: center;
    justify-content: center;
}